@model GreenGarden.Models.Cadastro;


@{
    ViewData["Title"] = "Pagina Cadastro";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Outfit', sans-serif;
        }
        
        fundoDiv{
            width: 100%;
            height: 100vh;
            background-image: url(../../wwwroot/images/fundo_cadastro.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        /* Estilos para o modal */
        .modal {
            display: none; /* Inicialmente escondido */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
        }

        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
            border-radius: 8px;
        }

        .modal-header {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }

        .modal-footer {
            text-align: center;
            margin-top: 20px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }

            input[type="submit"]:hover {
                background-color: #45a049;
            }

        .form-container {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="fundoDiv">
        <section class="form-container">
            <div class="container">
                <form asp-action="Cadastro" method="post" id="formCadastro">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="Nome_completo"  asp-for="Nome_completo" required>

                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="Email"  asp-for="Email" required>

                    <label for="username">Nome de Usuário:</label>
                    <input type="text" id="username" name="Name" asp-for="Name" required>

                    <label for="cpf">cpf:</label>
                    <input type="text" id="cpf" name="Cpf" asp-for="Cpf" required>

                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone" name="Tel"  asp-for="Tel" required>

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="Senha"  asp-for="Senha" required>

                    <label for="confirmarSenha">Confirme a Senha:</label>
                    <input type="password" id="confirmarSenha" name="SenhaC" asp-for="SenhaC" required>

                    <!-- checkbox para exibir senha -->
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="Check1">
                        <label class="form-check-label" for="Check1">Mostrar senhas</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Cadastrar-se</button>

                    <p>Já tem uma conta? <a href="#">Login</a></p>
                    

                    <!-- Script para verificar se senhas sao iguais -->
                    <script>
                        // Seleciona o formulário e os campos de senha
                        const form = document.getElementById('formCadastro');
                        const senha = document.getElementById('senha');
                        const confirmarSenha = document.getElementById('confirmarSenha');

                        // Adiciona um evento de submit ao formulário
                        form.addEventListener('submit', function (event) {
                            // Verifica se as senhas são diferentes
                            if (senha.value !== confirmarSenha.value) {
                                event.preventDefault(); // Impede o envio do formulário
                                alert("As senhas não são iguais! Digite duas senhas iguais"); // Exibe o alerta
                            }
                        });
                    </script>

                    

                </form>

                
            </div>

            <!-- Script para alternar a visibilidade das senhas -->
            <script>
                // Obtém o checkbox e os campos de senha
                const checkbox = document.getElementById('Check1');
                const senhaField = document.getElementById('senha');
                const confirmarSenhaField = document.getElementById('confirmaSenha');

                // Adiciona um evento de escuta ao checkbox para alterar o tipo dos campos de senha
                checkbox.addEventListener('change', function () {
                // Verifica se o checkbox está marcado
                const tipo = checkbox.checked ? 'text' : 'password';

                    // Altera o tipo dos campos de senha
                    senhaField.type = tipo;
                    confirmarSenhaField.type = tipo;
                });
            </script>

           
        </section>
    </div>

    <!-- Botão para abrir o modal -->
    <!-- <button id="openModalBtn">Cadastrar</button> -->
    

    <!-- O Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <div class="modal-header">
                <h2>Formulário de Cadastro</h2>
            </div>
            <form action="#" method="POST" class="form-container">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>

                <label for="telefone">Telefone:</label>
                <input type="tel" id="telefone" name="telefone" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>

                <label for="confirmaSenha">Confirme a Senha:</label>
                <input type="password" id="confirmaSenha" name="confirmaSenha" required>

                <input type="submit" value="Cadastrar">
            </form>
            
        </div>
    </div>

    <script>
        // Obter o modal e os botões
        var modal = document.getElementById("myModal");
        var openModalBtn = document.getElementById("openModalBtn");
        var closeModalBtn = document.getElementById("closeModalBtn");

        // Abrir o modal
        openModalBtn.onclick = function() {
            modal.style.display = "block";
        }

        // Fechar o modal
        closeModalBtn.onclick = function() {
            modal.style.display = "none";
        }

        // Fechar o modal se clicar fora dele
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    
</body>
</html>
