@{
    ViewData["Title"] = "Principal";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/imagem1.jpg" class="d-block w-100" alt="Imagem 1">
            <div class="carousel-caption d-none d-md-block">
                <h1 style="color: black">As melhores plantações da Capital</h1>
                <h3 style="color: black">Green Garden mantém a qualidade excepcional em seus alimentos, segundos estudos.</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/imagen 4.jpg" class="d-block w-100" alt="Imagem 2" style="max-width: 1200px; max-height: 676px;">
            <div class="carousel-caption d-none d-md-block">
                <h1 style="color: black">Os melhores profissionais atuando!</h1>
                <h3 style="color: black">Com uma equipe de profissionais dedicado, entregamos o máximo de projeito do que o alimento oferece..</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/imagen3.jpg" class="d-block w-100" alt="Imagem 3">
            <div class="carousel-caption d-none d-md-block">
                <h1>Localizada proximo a sua casa!</h1>
                <p>Não há mais a busca e ânsia de ir longe e buscar alimentos saudáveis.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

