@{
    ViewData["Title"] = "Politica de privacidade";
}
<h1>@ViewData["Title"]</h1>
<br />
<br/>

    <h2>Introdução</h2>
        <p>A Green Garden respeita a sua privacidade e se compromete a proteger suas informações pessoais. Esta Política de Privacidade descreve como coletamos, usamos e protegemos as informações que você nos fornece ao acessar nossos serviços.</p>

    <h2>Coleta de Informações</h2>
        <p>Coletamos informações de diferentes formas, incluindo:</p>
            <ul>
                <li><strong>Informações que você nos fornece</strong>: Ao se cadastrar em nosso site, fazer uma compra ou entrar em contato conosco, podemos coletar informações como nome, endereço de e-mail, endereço de entrega e informações de pagamento.</li>
                <li><strong>Informações coletadas automaticamente</strong>: Quando você visita nosso site, podemos coletar informações automaticamente, como seu endereço IP, navegador, sistema operacional e páginas que você visitou.</li>
            </ul>

    <h2>Uso das Informações</h2>
        <p>Utilizamos as informações coletadas para:</p>
            <ul>
                <li>Processar suas transações e gerenciar sua conta.</li>
                <li>Melhorar nossos produtos e serviços.</li>
                <li>Enviar comunicações relacionadas a pedidos, promoções e novidades da Green Garden.</li>
                <li>Analisar o uso do nosso site e melhorar a experiência do usuário.</li>
            </ul>

    <h2>Compartilhamento de Informações</h2>
        <p>A Green Garden não vende, troca ou aluga suas informações pessoais a terceiros. Podemos compartilhar suas informações com:</p>
            <ul>
                <li><strong>Prestadores de serviços</strong>: Podemos compartilhar informações com empresas que nos ajudam a operar nosso site ou a realizar nossos negócios, como serviços de pagamento e entrega.</li>
                <li><strong>Cumprimento legal</strong>: Podemos divulgar suas informações quando exigido por lei ou para proteger nossos direitos.</li>
            </ul>

    <h2>Segurança das Informações</h2>
        <p>Implementamos medidas de segurança adequadas para proteger suas informações pessoais contra acesso não autorizado, uso ou divulgação. No entanto, nenhum método de transmissão pela Internet ou de armazenamento eletrônico é 100% seguro.</p>

    <h2>Seus Direitos</h2>
        <p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Se desejar exercer esses direitos, entre em contato conosco por meio das informações fornecidas abaixo.</p>

    <h2>Alterações nesta Política</h2>
        <p>Podemos atualizar esta Política de Privacidade periodicamente. Recomendamos que você reveja esta página regularmente para se manter informado sobre como protegemos suas informações.</p>

    <h2>Contato</h2>
        <p>Se você tiver alguma dúvida ou preocupação sobre esta Política de Privacidade, entre em contato conosco:</p>
        <p>
            <strong>Green Garden</strong><br>
            Estrada Estadual Barueri-Itapevi 150, Jandira-SP.<br>
            adminstracao@greengarden.com<br>
            (11) 96429-6235 - Contato Suporte. 
        </p>

