@{
    ViewData["Title"] = "Quem somos?";
}
<style>
    .container {
        display: flex;
        align-items: center;
        max-width: 800px;
        margin: auto;
    }
    .text {
        flex: 1;
        margin-right: 20px;
    }
    .image {
        flex: 0 0 200px; /* largura fixa para a imagem */
        max-width: 100%;
        height: auto;
        border-radius: 8px; /* bordas arredondadas */
    }
    h1 {
        color: #2c3e50;
    }
</style>
<body>
<div>
<div class="container">
    <div class="text">
        <h1>Nossa História</h1>
        <p>Desde 2023, a Green Garden tem sido uma referência em distribuição de alimentos. Criada por um grupo de alunos inspirados em oferecer uma oportunidade de trazer refeições saudáveis e frescas para dentro de sua casa, nossa empresa surgiu da paixão por criar ambientes naturais e sustentáveis.</p>
        <p>Valorizamos a qualidade, a inovação da tecnologia e o acesso à responsabilidade ambiental em tudo que fazemos. Nossa equipe está sempre à disposição para ajudar você a escolher as melhores opções para o seu espaço, garantindo que seu prato reflita sua personalidade e estilo.</p>
        <p>Com uma equipe apaixonada e experiente, estamos comprometidos em fornecer não apenas os melhores frutos, legumes e verduras, mas também um atendimento excepcional. Cada cliente é único e, por isso, trabalhamos para entender suas necessidades e ajudar a realizar seus sonhos verdes.</p>
    </div>
    <img src="sua-imagem-aqui.jpg" alt="Green Garden" class="image">
</div>
</div>
</body>